<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Scrapper</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body>
  <header>
      <h1 style="font-size:60px; text-align:center">Job Scrapper</h1>
  </header>

  <main class="container">
    <form action="/search">
      <input type="text" name="keyword" placeholder="What you want">
      <button>Search</button>
    </form>
  </main>

</body>
</html>